---
  apiVersion: v1
  kind: Secret
  metadata:
    name: {{ tls_secret_name }}
    namespace: {{ k8s_namespace }}
    labels:
      app.kubernetes.io/name: prometheus
      app.kubernetes.io/instance: prometheus-stack
  data:
    node_exporter.crt: {{ cert.results[0].item | b64encode }}

